<div class="output">
  <div ng-click="reset()">Sign Out</div>
  <table class="chat-list" ng-repeat="message in messageList">
    <tr>
      <td>
        <div><strong>{{ message.username }}</strong></div>
        <div>{{message.content}}</div>
      </td>
      <td>
        {{ message.sentAt | date: 'M/d hh:mm' }}
      </td>
    </tr>
  </table>
</div>
<div class="input">
  <input class="input-bar" type="text" ng-model="message.content">
  <button type="submit" ng-click="enterMessage(message)" value="Save"></button>
</div>
