<div class="output">
  <table class="chat-list" ng-repeat="message in messageList">
    <tr>
      <td>
        <div><strong>{{ message.username }}</strong></div>
        <div>{{message.content}}</div>
      </td>
      <td>
        {{ message.sentAt | date: 'M/d hh:mm' }}
      </td>
    </tr>
  </table>
</div>
<div class="input">
  <div class="info">
    <div class="current-room-name">{{ currentRoom }} </div>
    <div class="sign-out" ng-click="reset()">Sign Out</div>
  </div>
  <textarea class="input-bar" type="text" ng-model="message.content" enter-key="enterMessage(message)">
</div>
